

.clearfix:after{
    content:"";
    display: block;
    clear: both;
}

.loading{
    // background:url(../assets/loading.gif) no-repeat center;
    height:2.4rem;
}

button {
    @include border-radius;
}